h2 {
    margin: 2vw;
    text-align: center;
}
.task {
    width: 30%;
    margin: 2vw auto;
    padding: 2vw;
}
.task img {
    display: block;
    margin: 0 auto;
}
.error {
    border: solid thin red;
}
.error-text {
    color: red;
}